<div class="banner">
  <h1>Save any kind of movies</h1>
  <p>build your best of</p>
</div>
<div class="display">
  <%#= cl_image_tag("xl84jsytodwngk4sinir",
      width: 400, height: 300, crop: :thumb, gravity: :face) %>
  <%= link_to 'Create a movie list', new_list_path, class: "btn btn-success" %>
  <div class="movie-list">
    <ul>
      <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
