// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  // background-image: image-url('movie.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), image-url('movie.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  padding: 150px;
  h1 {
    color: rgb(230,230,230)
  }

  p {
    color: rgba(230,230,230,0.7)
  }
}

.display {
  padding: 48px;
}


.movie-card {
  display: flex;
  width: 400px;
  margin-bottom: 16px;
  background-color: rgba(237, 241, 194, 1);
  border-radius: 4px;
  box-shadow: 1px 1px 2px #ccc;
  .poster {
    height: 150px;
   display: flex;
   align-content: center;
  }
}

.movie-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  .top-card {
    display: flex;
    justify-content: space-between;
  }
}

.list-frame {
  display: flex;
  .comments {
    // border: 1px solid salmon;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    h4{
      font-size: 24px;
    }
  }
}